.router-link {
  text-decoration: none;
  color: #000000;
}

.router-link:hover {
  text-decoration: none;
  color: #000000;
}

#none_message {
  font-size: 18px;
  text-align: center;
}

#error_message {
  margin-top: 0;
  color: red;
}

.loader {
  text-align: center;
  position: relative;
  top: 20px;
}
